################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WebApiPlay/bin
/src/WebApiPlay/obj/Debug
/src/WebApiPlay/obj/Release
